{% extends "_layout.njk" %}

{% block header_incoterm %}{% endblock %}

{% block meta_table %}
<table class="meta">
  <tr>
    <td><span class="label">ANNEXURE TO</span><span class="value">{{ order.quotation_ref or order.pi_ref or order.buyer_inquiry_ref }}</span></td>
    <td><span class="label">DATE</span><span class="value">{{ meta.generated_date }}</span></td>
    <td><span class="label">BUYER INQUIRY REF</span><span class="value">{{ order.buyer_inquiry_ref }}</span></td>
  </tr>
</table>
{% endblock %}

{% block section1 %}{% endblock %}

{% block body %}
{% include '_annexure_body.njk' %}
{% endblock %}

{% block terms_section %}{% endblock %}
